@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-pink:#FF44CC;
    --clr-electric-blue: #7DF9FF;
    --clr-honeydew: #f0fff0;
}

.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y;
}

section#about h3{
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 4em;
    padding-bottom: 1em;
}

.body-wrapper p {
    max-width: 50ch;
}

section#about {
    justify-content:none;
}

.content-wrapper {
    background: #fff;
    width: 85%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    opacity: 1;
}

.tile-1 {
    height: 90%;
    width: 40%;
    padding: .9em;
    padding-top: .2em;
    opacity: 1;
}

.tile-2 {
    padding: 1rem 2rem;
    height: 80%;
    width: 50%;
    padding: 1rem;
    background: white;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.body-wrapper {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media all and (max-width: 800px) {
    .content-wrapper {
        flex-direction: column;
        width: 95%;
        margin-right: 0;
        margin-left: .7em;
    }
    
    .tile-1 {
        padding-top: .5em;
        padding-bottom: 0em;
        margin: 0 auto;
        width: 90%;
    }

    .tile-2 {
        width: 90%;
        padding-top: 0;
        line-height: 1em;

    }

    section#about h3 {
        font-size: 2em;
        padding-bottom: .5em;
    }

    .body-wrapper p {
        font-size: .9em;
    }
}
