.contact-item:hover {
    background-color: rgb(0 0 0 / .1);
    color: black;
    cursor: pointer;
}

.subtile {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 500px;
    max-height: 70px;
    padding: 2em 4em;
}

section#contact {
    display: flex;
    max-height: 0;
    min-height: 94vh !important;
}

.subtile h3,
.subtile h4 {
    text-align: center;
    
}

.contact-wrapper { 
    max-height: 500px;
    flex: wrap;
    background: white;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 600px;
    margin-top: 3em;
    min-height: 20em;
    text-align: center;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 500px;
}

.contact-item {
    list-style: none;
    max-height: 200px;
    min-width: 300px;
    transition: all 300ms ease-in-out;
}

.subtile a {
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: font-size 200ms ease;
}

.subtile a:hover {
    opacity: .8;
} 

i {
    font-size: 2em;
    color: inherit;
}

.container {
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.nav-container {
    margin-top: 1em;
}

.text-large {
    font-size: 60px;
}

.text-white {
    color: white;
}

section#contact {
    height: auto;
}

.linked-in {
    color: royalblue;
}

.border-radius-upper-right {
    border-radius: 0 5px 0 0;
}

.border-radius-upper-left {
    border-radius: 5px 0 0 0;
}

.border-radius-lower-left {
    border-radius: 0 0 0 5px;
}

.border-radius-lower-right {
    border-radius: 0 0 5px 0;
}


@media (max-width: 900px) {
    section#contact h2 {
        font-size: 60px;
        margin: 0;
        padding-left: 3.45em;
    }

    .contact-header {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contact-wrapper {
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    section#contact h3 {
        font-size: 1.7em;
    }

    section#contact h4 {
        font-size: 1em;
    }

    .subtile {
        padding: .3em;
    }
}