.subtile {
    padding: 1em 1em;
    padding-top: 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    min-height: 80%;
    position: relative;
}

.subtile h3,
.subtile h4 {
    text-align: center;
    max-width: 35ch;
    padding: 0 2em;
    padding: 0;
}

.info_text:hover {
    cursor: pointer;
    color: #6a6ad1;
}

.contact-wrapper {
    display: flex;
    background: white;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 3em;
    min-height: 5em;
    text-align: center;
}

.subtile a {
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: font-size 200ms ease;
}

.subtile a:hover {
    opacity: .8;
} 

i {
    font-size: 2em;
}

.container {
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.text-large {
    font-size: 60px;
}

.text-white {
    color: white;
}

section#contact {
    height: 20vh;
}

.linked-in {
    color: royalblue;
}


@media (max-width: 900px) {
    section#contact h2 {
        font-size: 60px;
        margin: 0;
        padding-left: 3.45em;
    }

    .contact-header {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contact-wrapper {
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    section#contact h3 {
        font-size: 1.7em;
    }

    section#contact h4 {
        font-size: 1em;
    }

    .subtile {
        padding: .3em;
    }
}